@charset "UTF-8";

html {
    height: 100%;
    font-size: 100%
}
body{
    font: 14px/20px 'Open Sans', Arial, Tahoma;
    weight: 100%;
    height: 100%;
    color: #73AE7D;
    background: #E7F5E9;
}
a{color: #73AE7D;}
a:hover,
a:focus{color: #c6cf21; text-decoration: none;}
:focus{outline:none;}


.h-nav{
    float: left;
    padding: 10px 0;
}

.h-nav a{
    margin-right: 33px;
    font-size: 13px;
    color: #78828C;
}
.h-nav a:hover{color:#278336;}
.h-nav a:last-child {margin-right: 0;}
.h-nav-center{
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #E8ECF2;
    padding: 10px 30px;
}
.panel{
    padding: 5px 0;
    background: #278336;
}
.panel .btn{
    padding: 12px 20px;
    font-weight: 800;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    border: 1px solid #276832;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.panel .btn:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(32,97,43,0.44);
    -moz-box-shadow: 2px 2px 4px rgba(32,97,43,0.44);
    -o-box-shadow: 2px 2px 4px rgba(32,97,43,0.44);
    box-shadow: 2px 2px 4px rgba(32,97,43,0.44);

}
.btn-basket {padding-right: 30px !important;}

.item_box {
    border: 3px solid #278336 ;
    width: 30%;
    height: 40%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    float: left;
    margin: 10px;
    background: #ffffff;
}
.item_box .item_title{
    color: #278336;
    padding-top: 15px;
    padding-left: 50%;
}
.item_box .price {
    padding-left: 60%;
}
.item_price {
    color:#278336;
}
.button-ss {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #276832;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #278336;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}
.button-ss:hover {
    -webkit-box-shadow: 1px 1px 2px rgba(32,97,43,0.44);
    -moz-box-shadow: 1px 1px 2px rgba(32,97,43,0.44);
    -o-box-shadow: 1px 1px 2px rgba(32,97,43,0.44);
    box-shadow: 1px 1px 2px rgba(32,97,43,0.44);

}
.gallery img{
    margin: auto;
    padding-left: 30px;
}
.button-sss{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #276832;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #278336;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}
.input_field{
    margin: 10px 10px 10px 40%;
    width: 150px;
}
.link-ss{color: #73AE7D;}
.link-ss:hover,
.link-ss:focus{color: #c6cf21; text-decoration: none;}
:focus{outline:none;}
.order_box{
    border: 3px solid #278336 ;
    width: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.order_title{
    margin: auto;
    color: #278336;
    padding-top: 15px;
    padding-left: 100px;;
}
.order_score{
    margin: auto;
    color: #278336;
    padding-top: 15px;
    padding-left: 50px;
}
.order_box table,tr,td {
    border: 1px solid #278336 ;
    padding: 5px 5px 5px 5px;
}